<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm Shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
<section class="section">
    <div class="container">
        <section class="section">
            <div class="row detail-news-content-margin">
                <% detailnews.map(e=>{ %>
                    <div class="col-8">
                        <div class="container detail-news">
                            <h1 class="detail-news-title">
                                <%= e.Title %>
                            </h1>
                            <img class="detail-news-img" src="<%= e.Anh%>">
                            <div class="detail-news-content">
                                <%- e.NoiDung %>
                            </div>
                        </div>
                    </div>
                <% })%>
                <div class="col-4">
                    <div style="margin:10px 0 15px 0"><h5><b>Có thể bạn quan tâm</b></h5></div>
                    <div class="listing-news">
                        <% listingnews.map(e=>{ %>
                            <div class="news-item">
                                <p class="news-thumbnail">
                                    <a href="/tintuc/<%= e.IDTinTuc%>">
                                        <img src="<%= e.Anh %>">
                                    </a>
                                </p>
                                <header>
                                    <p class="news-item-title">
                                        <a href="/tintuc/<%= e.IDTinTuc%>"><%= e.Title%></a>
                                    </p>
                                </header>
                            </div>
                        <% })%>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-8">
                <div class="comment-form">
                    <form>
                        <div class="comment-area">
                            <div class="user-comment-icon"><i class="far fa-comment"></i></div>
                            <textarea onblur="hideNote()" onfocus="showNote()" class="comment-input" placeholder="Bạn nghĩ gì về tin này?" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary comment-btn">Gửi bình luận</button>
                        <div class="note-list">
                            <div class="note">
                                Ý kiến của bạn sẽ được biên tập trước khi đăng.
                            </div>
                            <div class="note">
                                Vui lòng gõ tiếng Việt có dấu.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            -->
        </section>
    </div>
</section>
<%- include('footer') %>
</body>
</html>