<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm Shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
    <section class="section">
        <div class="slide-show">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/imgs/slide1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>New Artist of Our Label</h1>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a href="#" class="button-slide">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/slide2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>TOMORROWLAND</h1>
                            <p>
                                A two-day digital festival, with 8 stages and over 60 artists.
                                More than 1 million People of Tomorrow from all over the globe tuned in and celebrated together.
                            </p>
                            <a href="#" class="button-slide">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/imgs/slide3.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="#" class="button-slide">VIEW MORE</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="new-realease">
                <div class="new-realease-tittle">
                    <h2>Top Selling</h2>
                    <a href="/top-selling" class="section-more">
                        See All
                    </a>
                </div>
                <div class="row">
                    <% topsellings.map(e=>{ %>
                        <div class="col-3">
                            <a href="#">
                                <article class="realease-post">
                                    <img src="<%= e.Anh %>">
                                    <div class="play-icon"><i class="fas fa-shopping-cart"></i></div>
                                    <h3 style="font-size: 24px"><%= e.TenBaiHat %></h3>
                                    <p><%= e.NgheDanh %></p>
                                    <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(e.Gia);%></p>
                                </article>
                            </a>
                        </div>
                    <% })%>
                </div>
            </div>
            <div class="event">
                <div class="row">
                    <div class="col-2">
                        <h2>Upcoming Events</h2>
                        <p>Here's everything you need to know about each major music event!</p>
                        <a href="/live-show" class="section-more">
                            See All
                        </a>
                    </div>
                    <% events.map(e=>{ %>
                        <div class="col-5">
                            <a href="/event/<%= e.IDEvent %>">
                                <article class="event-post">
                                    <img src="<%= e.Anh %>">
                                    <div class="layer"></div>
                                    <div class="layer1"></div>
                                    <div class="event-post-date"><%= e.NgayDienRa.toLocaleDateString(undefined, options={
                                            year: 'numeric', month: 'long', day: 'numeric'
                                        }) %></div>
                                    <div class="event-post-time"><%= e.GioDienRa.toLocaleTimeString(undefined, {timeZone:'Antarctica/Troll',hour: '2-digit', minute:'2-digit'}); %></div>
                                    <div class="event-post-title">
                                        <a href="#"><%= e.TenEvent %></a>
                                    </div>
                                    <div class="event-post-address"><%= e.DiaChi %></div>
                                </article>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="new-single">
                <div class="new-single-tittle">
                    <h2>New Singles</h2>
                    <a href="/top-selling" class="section-more">
                        See All
                    </a>
                </div>
                <div class="row">
                    <% singles.map(e=>{ %>
                        <div class="col-3">
                            <a href="#">
                                <article class="single-post">
                                    <img src="<%= e.Anh %>">
                                    <div class="play-icon"><i class="fas fa-shopping-cart"></i></div>
                                    <h3 style="font-size: 24px"><%= e.TenBaiHat %></h3>
                                    <p><%= e.NgheDanh %></p>
                                    <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(e.Gia);%></p>
                                </article>
                            </a>
                        </div>
                    <% })%>
                </div>
            </div>
            <div class="news">
                <div class="row">
                    <div class="col-2">
                        <h2>Latest News</h2>
                        <p>Follow our News to stay well informed and keep up with us. We really have so much to share with you!</p>
                        <a href="/tintuc" class="section-more">
                            See All
                        </a>
                    </div>
                    <% tintucs.map(e=>{ %>
                        <div class="col-5">
                            <a href="/tintuc/<%= e.IDTinTuc %>">
                                <article class="news-post">
                                    <img src="<%= e.Anh %>">
                                    <div class="layer2"></div>
                                    <div class="news-post-header">
                                        <div class="news-post-tittle">
                                            <%= e.Title %>
                                        </div>
                                        <div class="news-post-date">
                                            <%= e.NgayDang.toLocaleDateString(undefined, options={
                                                year: 'numeric', month: 'long', day: 'numeric'
                                            }) %>
                                        </div>
                                    </div>
                                    <div class="news-post-summary">
                                        <%= e.TomTat %>
                                    </div>
                                </article>
                            </a>
                        </div>
                    <% })%>
                </div>
            </div>
        </div>
    </section>
<%- include('footer') %>
</body>
</html>