<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/liveshowall.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
<section class="section">
    <div class="slide-show">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/imgs/slide1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>New Artist of Our Label</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <a href="#" class="button-slide">VIEW MORE</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/imgs/slide2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>TOMORROWLAND</h1>
                        <p>
                            A two-day digital festival, with 8 stages and over 60 artists.
                            More than 1 million People of Tomorrow from all over the globe tuned in and celebrated together.
                        </p>
                        <a href="#" class="button-slide">VIEW MORE</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/imgs/slide3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="#" class="button-slide">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="live-show-listing col-12">
                <div class="live-show-content row">
                    <% events.map(function(e){ %>
                    <div class="live-show-event col-6">
                        <div class="live-show-image">
                            <a href="#"><img class="live-show-image-area"  alt="details" src="<%= e.Anh %>"/></a>
                            <div class="live-show-status">Showing</div>
                            <div class="live-show-ticket-price">$39</div>
                        </div>
                        <div class="live-show-title">
                            <a href="#"><%= e.TenEvent %></a>
                        </div>
                        <div class="live-show-details">
                            <div class="live-show-date"><i class="fas fa-calendar-alt"></i><%= e.NgayDienRa %>></div>
                            <div class="live-show-location"><i class="fas fa-map-marker-alt"></i><%= e.DiaChi %></div>
                        </div>
                        <div class="live-show-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution link of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="live-show-pagination">
                    <ul>
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>
</body>
</html>
