<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm Shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
<section class="section">
    <div class="container">
        <div class= "container-fluid">
            <h4>News</h4>
            <div class= "row d-inline-flex">
                <% tintucs.map(e=>{ %>
                    <div class ="col-12 col-sm-6 col-md-4 p-2">
                        <div class="d-flex flex-column text-center border height100 all-listing-news">
                            <div>
                                <img class="news-img" src="<%= e.Anh %>"/>
                            </div>
                            <h2 class="news-post__title"><a href="/tintuc/<%= e.IDTinTuc%>"><%= e.Title %></a></h2>
                            <div class="news-post__date"><%= e.NgayDang.toLocaleDateString(undefined, options={
                                    year: 'numeric', month: 'long', day: 'numeric'
                                }) %></div>
                            <div class="news-post__content">
                                <p><%= e.TomTat %></p>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
            <div class="col-xs-12">
                <button type="button" class="default-btn default-btn--red default-btn--center">Load more</button>
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>
</body>
</html>